html {
  font-size: 62.5%;
  --blue: #63a1ff;
  --blue-hover: #428dff;
  --main: #bffce9;
  --blue-rgb: 99, 151, 255;
  --darkGray: #1c1c1c;
  --gray: #464646;
  --lightGray: #f5f5f5;
  --xlightGray: #eeeeee;
  --xxs: 1.4rem;
  --xs: 1.6rem;
  --s: 2rem;
  --m: 2.4rem;
  --l: 2.8rem;
  --xl: 3.2rem;
  --xxl: 3.6rem;
  --xxxl: 3.8rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #464646;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  background-color: #f7f7f7;
}
